# バージョン情報の隠蔽
# Hide Apache Version
ServerTokens Prod
ServerSignature Off

# XST対策
# TRACEメソッドの無効化
TraceEnable Off

# Hide Header X-Powered-By
Header always unset X-Powered-By

# httpoxy 対策
# RequestHeader unset Proxy

# クリックジャッキング対策
# ブラウザーがページを <frame> または <iframe> の内部に表示することを許可する
Header always append X-Frame-Options SAMEORIGIN

# XSS対策
# ブラウザの XSS フィルター機能を制御 "1; mode=block":有効（表示の完全な停止）
Header always set X-XSS-Protection "1; mode=block"

# Internet Explorer が MIME Sniffing 機能で content-type 宣言を回避するのを防止
Header always set X-Content-Type-Options nosniff

# エンティティタグ（ETag）無効
Header unset ETag


# Anti POODLE(ALBなのでコメント)
# SSLProtocol All -SSLv3

# .htaccessファイルを許可するディレクトリを個別に指定します。
#<Directory {{ webapp_dir_path }}/public>
#  AllowOverride All
#</Directory>